* {
  padding: 0;
  box-sizing: content-box;
}

body {
  background-color: #e5e5e5;
  font-family: "Poppins", sans-serif;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 96%;
  background-color: #fff;
  height: 50px;
  padding: 2%;
  align-items: center;
}

.bar {
  display: block;
  width: 30px;
  height: 5px;
  background-color: #6070ff;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
}

.nav-item3.active .bar:nth-child(2) {
  opacity: 0;
}

.nav-item3.active .bar:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}

.nav-item3.active .bar:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
}

.web-nav {
  display: none;
}

.container > nav {
  color: #6070ff;
  text-align: center;
  align-self: center;
  font-style: normal;
  font-size: 18px;
  font-weight: 700;
  line-height: 20.5px;
}

.overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #6070ff;
  opacity: 0.9;
}

.overlay-content {
  position: relative;
  top: 5%;
  width: 100%;
  text-align: left;
  margin-top: 30px;
}

.hamburger-span {
  color: #6070ff;
  font-size: 30px;
  cursor: pointer;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 32px;
  color: #fff;
  font-weight: 600;
  display: block;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 11px;
  right: 5px;
  font-size: 30px;
  font-weight: normal;
  border: 2px;
  cursor: pointer;
}

.content {
  display: flex;
  flex-direction: column;
  background-image: url("images/background.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 650px;
  border-radius: 0 0 0 100px;
  border-bottom: 1px solid #cfd8dc;
  background-color: #fff;
}

.box1 {
  color: #172b4d;
  justify-content: center;
  width: 300px;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  margin-top: 10%;
}

.box2 {
  padding-left: 24px;
  display: flex;
  align-items: center;
  color: #172b4d;
  justify-content: center;
  width: 85%;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.box3 {
  color: #7f8cff;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: flex-start;
  padding-left: 24px;
  transition: width 2s, height 5s, background-color 2s, transform 2s;
}

.box3:hover {
  background-color: #cccfff;
  width: 100px;
  height: 100px;
  transform: rotate(360deg);
}

.box4 {
  display: flex;
}

ul.box4 {
  padding-inline-start: 0;
}

.social-media {
  align-items: center;
  justify-content: center;
  height: 20.5px;
  padding-left: 24px;
}

.social-media img {
  height: 20px;
  width: 20px;
}

li.social-media {
  display: flex;
}

.works {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  align-items: center;
  padding: 10px;
  background: #fff;
  border: 1px solid #dfe1e6;
  box-sizing: border-box;
  border-radius: 16px;
  flex: none;
  margin: 50px 0;
}

.works img {
  width: 90%;
  padding: 4%;
}

.works-col-2-1 {
  display: flex;
  flex-direction: column;
  width: 327px;
  padding: 16px;
  background: #fff;
  border-radius: 8px;
  margin: 50px auto;
}

.work__description {
  display: flex;
  flex-direction: column;
  padding-left: 3%;
}

.work__description .long_desc {
  font-size: 0.85rem;
  font-weight: 400;
}

.work__description > h2 {
  width: 290px;
  font-size: 25px;
  font-weight: 700;
  color: #172b4d;
}

.short_desc {
  display: flex;
  align-items: center;
}

.short_desc * {
  margin-right: 10px;
}

.short_desc h4 {
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  color: #7a869a;
}

.short_desc h4:nth-child(1) {
  color: #344563;
  text-transform: uppercase;
}

.short_desc span {
  background-color: #c1c7d0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.work__lang {
  display: flex;
  list-style-type: none;
}

.work__lang * {
  margin: 20px 10px 20px 0;
  background: #ebebff;
  color: #6070ff;
  font-weight: 500;
  border-radius: 7px;
  padding: 5px;
  text-decoration: none;
}

.lang-1:hover,
.lang-3:hover,
.lang-4:hover {
  text-decoration: underline;
}

.btn {
  width: 150px;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  outline: none;
  padding: 8px;
  border-radius: 8px;
  color: #6070ff;
  margin: 5px;
}

.btn:hover {
  color: #fff;
  background-color: #6070ff;
  transform: rotate(1deg);
}

.btn-enabled {
  background-color: #fff;
  border: 1px solid #7f8cff;
}

.div-button {
  flex: none;
  order: 3;
  flex-grow: 0;
  margin: 24px 0.5px;
}

.button {
  flex-direction: row;
  align-items: center;
  background: #fff;
  padding: 7px;
  top: 12px;
  border: 1px solid #6070ff;
  box-sizing: border-box;
  border-radius: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #396df2;
  margin: 0 10px;
}

.blur {
  filter: blur(5px);
}

button:hover {
  background-color: #396df2;
  color: #fff;
}

.proj-myself {
  background: #fff;
  padding-top: 100px;
}

.my-title {
  display: flex;
  height: 10.5px;
  left: 0.5px;
  top: 0.5px;
  padding: 24px;
  font-style: normal;
  font-weight: bold;
  font-size: 40.5px;
  line-height: 52px;
  align-items: center;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 12px 0.5px;
}

.lang {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.imglang-title {
  width: 30px;
}

.lang-skills {
  position: static;
  height: 66.72px;
  left: 12px;
  top: 12px;
  display: flex;
  padding-left: 20px;
  align-items: center;
  column-gap: 20px;
  background: #f7f7f9;
  border-radius: 8px;
  margin: 12px 0;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #253858;
}

.langs-list {
  padding: 5px;
}

.lang-line {
  display: flex;
  height: 2px;
  background: #dfe1e6;
}

.proj-cad {
  display: grid;
}

.contact-me {
  background-color: #6070ff;
  border: 1px solid #cfd8dc;
  border-radius: 100px 0 0;
}

.validatonAlert {
  color: red;
}

.bg-image {
  background-image: url(images/shapes.png);
  background-repeat: no-repeat;
  background-position-x: right;
}

.contact-title {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
  height: 56px;
  justify-content: center;
  padding-top: 80px;
}

.contact-text {
  padding-left: 20%;
  padding-right: 20%;
  width: 60%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ebebff;
  justify-content: center;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 8px;
  align-items: center;
}

#username {
  background: #fff;
  height: 48px;
  margin: 5px;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  padding-left: 16px;
  font-size: 21px;
  color: #172b4d;
  width: 60%;
}

#useremail {
  background: #fff;
  height: 48px;
  margin: 5px;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  padding-left: 16px;
  font-size: 21px;
  color: #172b4d;
  width: 60%;
}

#usermessage {
  height: 170px;
  left: 24px;
  margin: 5px;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  padding-top: 15px;
  padding-left: 16px;
  font-size: 21px;
  color: #172b4d;
  width: 60%;
}

.modal-example {
  display: none;
  flex-direction: column;
  background: #fff;
  border-radius: 20px;
  margin: 5%;
  width: 80%;
  padding: 10px;
  position: fixed;
  animation: smoth-effet-open 0.7s;
  top: 0;
  color: #172b4d;
}

.modal-btn {
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  padding: 8px;
  border-radius: 8px;
  background: #fff;
  border: 2px #6070ff solid;
  outline: none;
  color: #6070ff;
  font-weight: 600;
  margin-right: 5px;
  margin-top: 0;
}

.modal-example.show {
  display: flex;
}

.modal-example img {
  width: 66%;
  padding-left: 5%;
}

.modal-example .closeModal {
  font-size: 50px;
  color: #67798e;
  border: none;
  outline: none;
  background: none;
}

@media screen and (min-width: 992px) {
  .web-nav {
    display: flex;
    margin-left: auto;
    align-items: center;
    justify-content: center;
  }

  .modal-example {
    width: 60%;
    padding: 2%;
  }

  .modal-example.show {
    right: 0;
    max-width: 100%;
    bottom: 0;
    max-height: 608px;
    transform: translate(-10%, 0%);
  }

  .modal__body {
    overflow-y: auto;
  }

  .modal-img {
    max-height: 400px;
    max-width: 60%;
  }

  .desc {
    width: 60%;
  }

  nav.nav-item1 {
    margin: 20px;
  }

  .web-nav-link {
    font-style: normal;
    text-decoration: none;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #344563;
  }

  .nav-item3 {
    display: none;
  }

  .web-nav-ul {
    display: flex;
    list-style-type: none;
  }

  .web-nav-list {
    margin-right: 32px;
  }

  .content {
    background-image: url("images/Header-bg.png");
    background-repeat: no-repeat;
    background-size: 98%;
    width: 100%;
    border-radius: 0 0 0 100px;
    border-bottom: 1px solid #cfd8dc;
    background-color: #fff;
  }

  li.skillset {
    width: 75px;
  }

  .box1 {
    width: 400px;
    font-size: 48px;
    line-height: 60px;
    margin-left: 20%;
  }

  .box2 {
    width: 70%;
    margin-left: 20%;
    line-height: 28px;
    font-size: 20px;
    align-items: center;
    justify-content: center;
  }

  .box3 {
    margin-left: 20%;
    width: 70%;
  }

  .box4 {
    margin-left: 20%;
    width: 70%;
  }

  .proj-myself {
    display: flex;
    flex-direction: row;
    border-radius: 0 100px 0 0;
  }

  .abt {
    width: 50%;
    padding: 2%;
  }

  .abt-skills {
    width: 40%;
  }

  .lang {
    padding: 0 24px;
  }

  .div-button2 {
    display: flex;
    width: 70%;
    margin-left: 20%;
  }

  .project-desc {
    display: flex;
  }

  .final {
    display: flex;
  }

  .my-title {
    justify-content: center;
  }

  .bg-image {
    background-image: url(images/contact-form-background-shapes.png);
    background-repeat: no-repeat;
    background-position-x: right;
  }

  .contact-text {
    padding-left: 20%;
    padding-right: 20%;
    width: 60%;
  }

  .contact-form {
    align-items: center;
    margin: auto;
    width: 50%;
  }

  .works img {
    padding-right: 4%;
  }

  .works__image {
    display: flex;
    width: 40%;
  }

  .works {
    display: flex;
    align-items: normal;
    justify-content: space-around;
    margin: 5%;
  }
}

.modelContainer {
  width: 50%;
  min-height: 40%;
  overflow: auto;
  padding-bottom: 100px;
}

.see-project-buttons {
  margin-left: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px;
  width: 260px;
  margin-top: 20px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(193, 199, 208, 0.7);
}

.modal-content {
  position: relative;
  background-color: #fff;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 90%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}

.close {
  color: #172b4d;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #172b4d;
  text-decoration: none;
  cursor: pointer;
}

ul.project__lang {
  display: flex;
  list-style-type: none;
}

.project__lang a.lang1 {
  margin: 20px 10px 20px 0;
  background: #ebebff;
  color: #6070ff;
  font-weight: 500;
  border-radius: 7px;
  padding: 5px;
  text-decoration: none;
}

.modal-head {
  display: flex;
  justify-content: space-between;
}
